<h1>Hello world my name is kyle</h1>
<div class="jumbotron">
        <h1>EasyDo</h1>
    <p>This is a simple project management app</p>
    <%= link_to 'Sign up', "#", class: 'btn btn-primary btn-lg' %>
</div>

