<div class="jumbotron">
        <h1><i class='fa fa-cogs'></i>EasyDo</h1>
    <p>This is a simple project management app</p>
    <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
</div>

